<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WSL Football Tracker</title>
</head>

<body>

    <h1>WSL Football Tracker</h1>

    <hr>

    <h2>League Table</h2>

    <table boarder="1">
        <tr>
            <th>Position</th>
            <th>Team</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>Points</th>
        </tr>

        <tr th:each="entry, position : ${leagueTable}">
            <td th:text="${position.count}"></td>
            <td th:text="${entry.teamName}"></td>
            <td th:text="${entry.played}"></td>
            <td th:text="${entry.won}"></td>
            <td th:text="${entry.drawn}"></td>
            <td th:text="${entry.lost}"></td>
            <td th:text="${entry.points}"></td>
        </tr>

    </table>

    <hr>

    <h2>Teams</h2>

    <ul>
        <li th:each="team : ${teams}">
            <a th:href="@{'/team/' + ${team.id}}"
            th:text="${team.name}">
            </a>
        </li>
    </ul>

</body>

</html>