<!DOCTYPE html>
<html>

<head>
    <title>WSL Football Tracker</title>
</head>

<body>
<h1>Football Tracker</h1>

<table border="1">
    <tr>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Score</th>
        <th>Winner</th>
    </tr>

    <tr th:each="match : ${matches}">
        <td th:text="${match.homeTeam}"></td>
        <td th:text="${match.awayTeam}"></td>
        <td>
            <span th:text=${match.homeScore}></span>"
            -
            <span th:text=${match.awayScore}></span>"
        </td>
        <td th:text="${match.winner}"></td>
    </tr>

</table>
</body>
</html>