<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Team Results</title>
</head>

<body>

    <p>
        /<- Back to Home</a>
    </p>

<h1 th:text="${team.name}"></h1>

<p th:text="${matches}"></p>

<table border="1">
    <tr>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Score</th>
        <th>Winner</th>
    </tr>

    <tr th:each="match : ${matches}">
        <td th:text="${match.homeTeam}"></td>
        <td th:text="${match.awayTeam}"></td>

        <td>
            <span th:text="${match.homeScore}"></span>
            -
            <span th:text="${match.awayScore}"></span>
        </td>

        <td th:text="${match.winner}"></td>
    </tr>

</table>

</body>
</html>